<head>
  <title>Leaflet sample</title>
  <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body>
    <h1 class="title" style="color:darkgreen;font-size:45px;text-align:center;">
      Poi's Map</h1>
    <div class="field" style="text-align: center">
      <label class="label"> Which poi's cathegory you would like to display? </label>
      <form action="/dashboard/filterpoi" method="POST">
        <select name="category_display" id="category_display" style="background-color: white; width:200px; height:40px; border-color:#E0DCDB;
                     border-radius:4px; border-width:1px; box-shadow: #E0DCDB;
                    ">
          <option value="All">All</option>
          <option value="Nature">Nature</option>
          <option value="History">History</option>
          <option value="Animals">Animals</option>
          <option value="Culture">Culture</option>
          <option value="Food">Food</option>
          <option value="Club">Club</option>
          <option value="Sport">Sport</option>
        </select>
        <button class="button is-link">Submit</button>
      </form>
    </div>


    <div id = "map" style = "width: 900px; height: 580px; margin: auto"></div>
    <script>
    var data = document.getElementById('category_display').value;
    console.log(data)
    // Creating map options
    var mapOptions = {
      center: [49.820923, 18.262524],
      zoom: 12
    }
    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map.addLayer(layer);


      {{#each all_poi}}
      var htmlstr = '<h1 style ="font-size:16px;" ><b>{{name}}</b></h1><br><b>Category:</b><br>{{category}}<br><b>Description:</b><br>{{description}}<div class="card"> <div class="card-image"> <figure class="image is-256x256"> <img src={{img}}> </figure> </div>';

      //iframe = folium.IFrame(htmlstr,width=200,height=200,);

      //fpop = folium.Popup(iframe);

      // Creating a marker
        var marker = L.marker([{{latitude}},{{longitude}}]);
      // Adding marker to the map
        marker.addTo(map);
        marker.bindPopup(htmlstr)
      {{/each}}
  </script>
  </body>
